/**
 * Text & Article Styles
 */

html {
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
}

*[hidden="True"] {
    display: none;
}

indent {
    display: block;
    padding-left: 1.5em;
}

abbr {
    border-bottom: 1px dotted #AAAAAA;
    cursor: help;
}

pre, code {
    font-family: Monospace;
}

code {
    white-space: pre;
}

body {
    max-width: 48em;
    margin: 0 auto;
}

p { /* justification like LaTeX */
    text-align: justify;
    text-indent: 1.5em;
    margin: 0;
}

 /* first paragraph is NOT indented 
  * (note: title causes nth-child(2))
  * */
section {
    clear: both;
}

header>p:nth-child(2) {
    text-indent: 0;
}

section>p:nth-child(2) {
    text-indent: 0;
}
/* if the p is in a first-child column first paragraph is still NOT indented*/
column:nth-child(2) p:nth-child(1) { 
    text-indent: 0;
}

footer {
    border-top: 1px solid #CCCCCC;
}

figcaption {
    text-align: center;
}
figure img {
    display: block;
    margin: 0 auto;
}

/** column **/
column {
    float: left;
    width: 50%;
}

dl.inline dt {
    float: left;
    margin-right: 1em;
}

/** BALATEX SELF STYLE **/
#balatex_bar {
    background: #EEE;
    border: 1px solid #CCC;
    border-top: 0;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 1em;
}

dl.qa dt {
    font-weight: bold;
    font-style: italic;
}



/*
 * Citations & Bibliography
 */
cite {
    vertical-align: super;
    font-style: normal;
}

bibliography {
}
